body{
    background: white;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin: 4rem 0 0 1rem;
    font-size: 4rem;
}

h1 span {
    color: blue;
}

button {
    margin-top: 2rem;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: blue;
}

div.card {
    background: rgba(184, 177, 177, 0.455);
    padding: 1rem;;
    border-radius: 15px;
    width: 20rem;
    text-align: center;
    line-height: 1.3;
}

div.row-container {
    display: flex;
    justify-content: space-around;
}

div.bg-blue {
    background-color: rgba(68, 68, 221, 0.408);
    padding: 4rem 0 6rem 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input, textarea {
    margin-top: 1rem;
    background-color: white;
    width: 40%;
    border-radius: 15px;
    padding: 6px;
}

button.submit {
    width: 15rem;
    background-color: black;
    font-size: 1rem;
    transition: 1s;
}

button.submit:hover {
    width: 15rem;
    background-color: blue;
    font-size: 1rem;
}